body
{
	background-color: rgb(255,0,205);
}
h1
{
	text-align:center;
}
.pika
{
	display:block;
	margin:auto;
	width:312px;
	height:312px;
}
#Navigation_Bar
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li
{
	display: block;
	display: inline;
	text-align: center;
}
li a 
{
    display: block;
    display:inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
  background-color: #111;
}
p
{
	text-align:center;
}
#contact
{
	float:left;
}
#comments
{
	float:right;
}
#msgBoard
{
	
	background-color: rgb(255,255,255);
}