body
{
	background-color: #00FF91;
}
h1
{
	text-align:center;
}
#Navigation_Bar
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align:center;
}
#Navigation_Bar li
{
	display: inline;
	text-align: center;
}
#Navigation_Bar li a
{
    display:inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#Navigation_Bar li a:hover
{
  background-color: #111;
}
p
{
	text-align:center;
}
#contact
{
	color: black;
	text-decoration: none;
	text-align: center;
}
#contact li
{
	list-style-type: none;
	display:inline;
}
#contact a img
{
	max-width: 48px;
	max-height: 48px;
}
#contact a:hover
{
	background-color:#00FF91;
}
#back img
{
	max-width: 40px;
	max-height: 40px;
}
#about_me_summary
{
	float:left;
	font-size: 36px;
	margin-left: 125px;
}
#topics
{
	margin-top: 150px;
}

#topics li
{
    list-style-type: none;
    background-color: #00FF91;
    text-decoration: none;
}

#topics li a
{
    display:inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topics a:hover
{
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    color: dodgerblue;
    stroke: dodgerblue;
}

/*TODO: add transformations*/
/*TODO: implement animate.css*/

