.tiles{
    height: 250px;
    border-radius: 25px;
    width: 250px;
    text-align: center; 
    
}    
.tiles p{
    padding-top: 45%;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    text-align: center;
    font-size: 30px;
}

#main{
    padding-top: 15%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    list-style-type: non;
    
}
#main li{
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    transform: translate(0px,0px);
    transition-duration: 1s;
}
#main li:hover{
    filter: drop-shadow(8px 8px 10px );
    transform: translate(0px,-100px);
    transition-duration: 1s;
}
html{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}

#wrapper{
    
    background: #ECECEC;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin-left: 5%;
    width: 90%;
}
#name{
    padding-top: 5%;
    font-size: 60px;
    text-align: center;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    transition-duration: 0.7s;
    transform: scale(1);
}
#name:hover{
    
    transition-duration: 0.7s;
    transform: scale(1.5);}
a{
    text-decoration: none;
    color: black;
}

#basic_text{
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 50px;
    
}
/*TODO: add transformations*/
/*TODO: implement animate.css*/

